[2017-02-28 12:08] schluchter opened #9 "Updated README for preact"
The README references the vanilla WebComponents process. Should we update the README with more specific instructions? I would love to try contributing a component as well, but need some pointers to get started. @wholesale-design-system/engineers

[2017-02-28 13:59] faboweb commented on #9
👍  feel free to contribute. do you want to get a component assigned?

[2017-02-28 14:07] schluchter commented on #9
Yes please :) I need some practice, and an intro into the build process, but that would be really fun.

[2017-03-06 12:42] tonysaad opened #11 "Notification - Icons Redesigns"
We got updates for the icons
<img width="675" alt="screen shot 2017-03-03 at 16 56 29" src="https://cloud.githubusercontent.com/assets/1137569/23610479/f4d39f94-0272-11e7-9bcf-cc198078cd12.png">

[2017-03-10 11:15] schluchter commented on #11
Hi @tonysaad, need any input from @wholesale-design-system/ux ?

[2017-03-10 11:21] tonysaad commented on #11
This was just for testing in our session, but I remember that there was a new icons list Mehmet showed to us. Maybe let's start working on them using the new workflow.

[2017-03-14 10:27] myueksel opened #14 "DS Colors +1 gradient color"
Added a gradient color as background for table headers.

https://zalando.invisionapp.com/d/main#/console/10454474/223408083/preview

![20170314_colors_ v2_my](https://cloud.githubusercontent.com/assets/25901307/23896299/2a7267ac-08a9-11e7-961c-e5b08e9bc3fe.png)

[2017-03-14 10:55] myueksel opened #15 "Paper shadows and elevation"
Specifications of Paper elements.

https://zalando.invisionapp.com/d/main#/console/10454474/225718499/preview

![paper elements v2](https://cloud.githubusercontent.com/assets/25901307/24351693/08badbb0-12e7-11e7-85f2-a00ac10037c0.png)

[2017-03-14 10:59] myueksel opened #16 "Buttons with documented spacings"
Buttons are aligned to new spacings and documented with space variables.

https://zalando.invisionapp.com/d/main#/console/10454474/222966622/preview

![20170314_buttons_ v1_my](https://cloud.githubusercontent.com/assets/25901307/23897485/a8243ec4-08ad-11e7-864e-c00a337bb191.png)

[2017-03-14 12:03] myueksel opened #17 "Input fields – Adapted spacings"
Input field visibility & behaviours... aligned to new spacings

https://zalando.invisionapp.com/d/main#/console/10454474/227050474/preview

![input fields v2](https://cloud.githubusercontent.com/assets/25901307/24616151/92323448-1890-11e7-913d-a1949804239e.png)

[2017-03-14 12:08] myueksel opened #18 "Check boxes, option fields & switches"
Check boxes, option fields & switches with all specifications.
https://zalando.invisionapp.com/d/main#/console/10454474/222964295/preview

![20170314_check_ v1_my](https://cloud.githubusercontent.com/assets/25901307/23899874/3efe51be-08b7-11e7-87b1-5d3e8705b0f0.png)

[2017-03-14 12:11] myueksel opened #19 "Table Solutions – Adapted spacings"
All table solutions aligned to the new spacings.
https://zalando.invisionapp.com/d/main#/console/10454474/222686891/preview

![20170314_table-solutions_ v2_my](https://cloud.githubusercontent.com/assets/25901307/23899973/af7c0288-08b7-11e7-8640-f66e71ba5f0a.png)

[2017-03-14 12:17] myueksel opened #20 "Drop down menu solutions"
All drop down solutions aligned to the new spacings.
https://zalando.invisionapp.com/d/main#/console/10454474/222956355/preview

![20170314_dropdown-solutions_ v2_my](https://cloud.githubusercontent.com/assets/25901307/23900224/a07743d2-08b8-11e7-8b55-6772e081b87c.png)

[2017-03-14 12:26] myueksel opened #21 "Tabel filter panels"
Filter panels aligned to new spacings

https://zalando.invisionapp.com/d/main#/console/10454474/222960998/preview

![20170314_table-filter-panels _ v4_my](https://cloud.githubusercontent.com/assets/25901307/23900469/c3b96b62-08b9-11e7-92a4-a365b295a04a.png)

[2017-03-14 12:28] myueksel opened #22 "Notifications"
Notifications aligned to new spacings.
https://zalando.invisionapp.com/d/main#/console/10454474/222960998/preview

![20170314_notifications_ v1_my](https://cloud.githubusercontent.com/assets/25901307/23900571/1d5ee5a2-08ba-11e7-8686-68514779357e.png)

[2017-03-15 10:19] myueksel opened #23 "Date Picker"
aligned the date picker to the new spacings...
https://zalando.invisionapp.com/d/main#/console/10454474/223650900/preview

![20170315_date-picker_ v1_my](https://cloud.githubusercontent.com/assets/25901307/23944270/828cfb0e-0972-11e7-8549-9d8a97e43fc8.png)

[2017-03-15 11:19] fragsalat commented on #23
:+1:

[2017-03-17 09:26] AdrianDampc opened #27 "Box visualization"
Amount + single status visualization

[2017-03-17 15:38] fragsalat commented on #14
I will do that together with the spacings

[2017-03-17 15:39] fragsalat commented on #18
Is the checkmark icon available from the icon font?

[2017-03-17 16:10] schluchter commented on #18
@fragsalat I will add it.

[2017-03-17 17:19] fragsalat commented on #18
Thx :)

[2017-03-20 14:27] schluchter commented on #15
Add blur value to make pop-over arrow tip visible again

[2017-03-20 14:32] schluchter commented on #18
@myueksel Please add specs for switch label positioning

[2017-03-20 14:36] faboweb commented on #19
The border for selected lines is 1px inset on the bottom.

[2017-03-20 14:38] schluchter commented on #19
@myueksel @tonysaad Please check whether padding-right of XL adds too much space on wide tables

[2017-03-20 14:43] faboweb opened #29 "Date-Picker ranges"
Investigate min/max on date inputs.
Maybe this is already implemented in flat-picker.

[2017-03-22 11:09] myueksel commented on #19
is checked... we'll give the XL space just, if possible.

[2017-03-22 13:55] AdrianDampc commented on #27
![brick-visualization](https://cloud.githubusercontent.com/assets/26090170/24201152/84f95dfe-0f0f-11e7-95d4-16c06353d2f8.jpg)

[2017-03-22 14:59] faboweb opened #30 "Week-Picker"
In the preorder recommendations frontend we need this component.

I already started implementing using the design aligned before for the web component.

[2017-03-23 12:23] fokusferit opened #31 "Add Introduction Tutorials for every Framework"
We should provide a (short) introduction in our Wiki for every framework where we use our components, e.g. Reactjs, Angular2, Aurelia etc.

[2017-03-24 09:28] faboweb commented on #31
+1

[2017-03-24 12:57] faboweb commented on #30
#32

[2017-03-27 10:01] fokusferit commented on #9
@schluchter Any updates on Readme update :D ?

[2017-03-27 13:54] faboweb opened #34 "Arrow Icons in Week-Picker seem to be different in different browsers"
Tony:
![image](https://cloud.githubusercontent.com/assets/5869273/24359751/9206db9e-1305-11e7-947d-b1de38fc48d9.png)

Fabo:
![image](https://cloud.githubusercontent.com/assets/5869273/24359779/a287dcf2-1305-11e7-916e-cfa53d4bbef2.png)

Let's check back in some time of this is still an issue.

[2017-03-29 11:24] schluchter opened #37 "Date picker – calendar icon should be part of clickable area to invoke the popover"
![image](https://cloud.githubusercontent.com/assets/760158/24452240/90f6da14-1482-11e7-9b84-fb200e9d6fde.png)

Expected: In the date picker, the user can click anywhere inside the input field to invoke the popover.
Actual: In the date picker, the user cannot click on the calendar icon to invoke the popover.

[2017-03-29 14:24] fokusferit commented on #11
@tonysaad still an issue ?

[2017-03-29 15:04] tonysaad commented on #11
I'd close it to avoid confusion

[2017-03-29 15:04] #11 closed

[2017-03-29 15:05] tonysaad commented on #22
Fixed in #38 #11

[2017-03-29 15:32] fokusferit opened #39 "WS-Header - Text Title has wrong alignment"
Looks like when you provide only a Text for the Header Component the Title is aligned wrong.

Current:
![screen shot 2017-03-29 at 17 31 43](https://cloud.githubusercontent.com/assets/1215719/24462971/adb4b612-14a5-11e7-950f-3f08ed44a141.png)

Expected:

![screen shot 2017-03-29 at 17 32 02](https://cloud.githubusercontent.com/assets/1215719/24462979/b3f35a6a-14a5-11e7-8345-e6eacc89357d.png)

Migh

[2017-03-30 12:04] faboweb commented on #39
Maybe obsolete after the redesign.

[2017-03-30 12:05] faboweb commented on #37
@fragsalat can you take of that?

[2017-03-30 12:14] schluchter commented on #15
Elevation for popovers (paper-shadow-6) has been added in #32. Closing and removing from project.

[2017-03-30 12:14] #15 closed

[2017-03-30 12:23] schluchter commented on #39
Agreed. Don't fix now.

On Thu, Mar 30, 2017 at 2:04 PM Fabian <notifications@github.com> wrote:

[2017-03-30 13:14] #39 closed

[2017-03-31 10:08] schluchter opened #41 "Remove the margin override for icons in the week picker"
This bad boy needs to go once the icon alignment is fixed more globally.

Location: src/ws-week-picker/ws-week-picker.scss

[code]

[2017-03-31 12:15] fragsalat commented on #41
The margin is already removed in the atomic design refactoring

[2017-03-31 12:15] fragsalat commented on #41
PS: use ``` instead of ` to have multi line code blocks in github :)

[2017-03-31 12:18] schluchter commented on #41
Damn! Awesome.

[2017-04-03 15:12] myueksel commented on #18
https://zalando.invisionapp.com/d/main#/console/10454474/227050843/preview

![check v3](https://cloud.githubusercontent.com/assets/25901307/24616219/c243ba1c-1890-11e7-97ac-fc71b4c3434f.png)

[2017-04-03 15:14] myueksel commented on #20
new shadow added.

https://zalando.invisionapp.com/d/main#/console/10454474/227055833/preview

![drop downs v3](https://cloud.githubusercontent.com/assets/25901307/24616292/f5c87d46-1890-11e7-97e1-077c216c278e.png)

[2017-04-03 15:15] myueksel commented on #21
panel color white again and new shadow added.

https://zalando.invisionapp.com/d/main#/console/10454474/227055588/preview

![table filter panels v5](https://cloud.githubusercontent.com/assets/25901307/24616341/1c434140-1891-11e7-84e9-2cb1e2a5212e.png)

[2017-04-03 15:18] myueksel commented on #19
New font style for (column) labels in table headers. (You can find all font styles here: https://zalando.invisionapp.com/d/main#/console/10454474/227049636/preview)

https://zalando.invisionapp.com/d/main#/console/10454474/227051076/preview

![table solutions v3](https://cloud.githubusercontent.com/assets/25901307/24616468/7cf6eb4a-1891-11e7-83b3-748878c37fff.png)

[2017-04-03 15:22] myueksel commented on #23
Update... changed the fonts of the dates and the background color of the current day.
https://zalando.invisionapp.com/d/main#/console/10454474/227056253/preview

![date picker v2](https://cloud.githubusercontent.com/assets/25901307/24616563/ccf58a34-1891-11e7-8b59-f9e22e533bdd.png)

[2017-04-05 08:55] schluchter opened #44 "Build fails because header component SCSS references a non-existent variable"
[code]

[2017-04-05 11:05] schluchter commented on #44
Didn't pull SCSS from the right repo locally. User error :)

[2017-04-05 11:05] #44 closed

[2017-04-11 12:24] qlibin opened #46 "Documentation is not clear regarding how to use Demo"
It says:

But all that `index.html` has inside is basically import of one non existing script:
[code]

[2017-04-11 12:51] fragsalat commented on #46
True, The built components are inside the dist folder and demo should use them

[2017-04-11 12:53] qlibin opened #47 "Usage section of README"
Usage section of README says:

_I think it's explicitly implied that I have to run also `npm install` (which in my opinion should also be documented)_

After doing following:
[code]

`gulp` fails with following output:
[code]

`gulp test` fails with following:
[code]

[2017-04-11 13:28] fragsalat commented on #47
Either you run `gulp build` to build the components or to run the demo page with react `npm run start` or with preact `npm run start:preact`

[2017-04-11 13:55] qlibin commented on #47
Thank you @fragsalat but this doesn't help :(

Both `npm run start` and `npm run start:preact` show the error:
[code]

:man_shrugging:

FYI: my node version is v7.7.4 and npm 4.1.2

[2017-04-11 14:20] fragsalat commented on #47
@qlibin Can you pls run `npm i -D https://github.com/wholesale-design-system/scss.git`

I guess the latest master of scss repo isn't installed.

[2017-04-12 08:27] faboweb commented on #46
`npm run serve` is also not really working on master -> components produce errors

[2017-04-12 08:27] qlibin commented on #47
There was one warning during the `npm i -D https://git...`:
[code]

But it helped! Thank you

[2017-04-20 09:23] fokusferit opened #50 "Update to npm PropTypes instead of React.PropTypes"
Since React 15.5.x we get a warning in the console:

We need to update all of our components to https://www.npmjs.com/package/prop-types which is now a standalone Project.

Basically:
- Install Prop-Types
- Change imports.js
- Update Code (Replace) React.PropTypes with PropTypes. Instead of using webpack + aliases we should go through all components and change it.

[2017-05-15 08:57] fokusferit commented on #50
Has been done with #53

[2017-05-15 08:57] #50 closed

[2017-05-15 08:58] fokusferit commented on #31
@faboweb could you add your ng2 integration to https://github.com/wholesale-design-system/components/wiki/How-to-integrate-component-into-your-build-system ? Then we can close this one :)

[2017-05-15 09:00] fokusferit commented on #30
@faboweb do you have any update on that ? maybe it is already done :) ?

[2017-05-15 09:02] fokusferit commented on #22
@tonysaad you documented them / is it done ? if yes could you please close the issue :) ?

[2017-05-15 09:03] fokusferit commented on #37
@fragsalat did you fixed this one with #54 ? If yes could you close the issue :) ?

[2017-05-15 09:52] tonysaad commented on #22
@fokusferit Yeah Thomas documented them already, I'd close it now

[2017-05-15 09:52] #22 closed

[2017-05-16 09:19] fragsalat commented on #37
Nope. I'll fix this

[2017-05-16 09:20] fragsalat commented on #30
As far as I saw it the component isn't working and doesn't look well.

[2017-05-16 09:21] fragsalat commented on #31
It's on my todo list with low prio

[2017-05-16 09:30] fragsalat commented on #19
I did already most of the table related stuff.

https://wholesale-design-system.github.io/styleguide/#/elements/tables

Missing is:
- Cell editing -> Inline edit with correct styling (icons, spacing, ...), borders for error/success/edit and inline edit with select/dropdown
- Rows with additional collapsible content
- Selectable rows (checkbox for multiple or simple selection)

[2017-05-16 09:32] fragsalat commented on #21
I did most of this already
Missing is:
- Styling for "Reset all"
- Bottom spacing of badge has to be adjusted

[2017-05-16 09:35] fragsalat commented on #20
I did the most here already
Missing is:
- General solution for localization of components (Choose/Auswählen is currently just OK^^)
- There was no use case yet for items with icons before so that might need some adjustements
- Documentation in the styleguide page

[2017-05-16 09:36] fragsalat commented on #18
Did that here https://github.com/wholesale-design-system/scss/pull/43

Check out new style at https://wholesale-design-system.github.io/styleguide/#/elements/forms

[2017-05-16 09:36] #18 closed

[2017-05-16 09:37] fragsalat commented on #30
BTW Where is the design for this component?

[2017-05-16 09:49] myueksel commented on #19
Awesome!!!

2017-05-16 11:30 GMT+02:00 Thomas Schlage <notifications@github.com>:

--
*Mehmet Yüksel*
UX - Visual UI Design
Team Wholesales

*Zalando SE*

POSTAL ADDRESS
Zalando SE
11501 Berlin

OFFICE
Zalando SE
Neue Bahnhofstr. 11-17
10245 Berlin
Germany

Mobile: +49 (0)152 567 723 29
Email: mehmet.yueksel@zalando.de
Web: corporate.zalando.com
Jobs: jobs.zalando.de <https://jobs.zalando.de/en/>

[2017-05-16 10:01] myueksel commented on #21
• Bottom spacing: 0,5rem (8px)
• Styling for "RESET ALL"....:
<img width="655" alt="screen shot 2017-05-16 at 11 54 53" src="https://cloud.githubusercontent.com/assets/25901307/26100860/6a1ef890-3a2f-11e7-85ca-e28071a776e6.png">

[2017-05-18 12:19] faboweb commented on #30
@fokusferit This is open as we did not have a UX-Alignment meeting in weeks.

@fragsalat If you figured sth is not working please add a detailed issue for that. Please avoid unconstructive critizism like above. I am always open to take things offline.

The design was aligned with Mehmet and Señor Schluchter before the change to Preact. We can however reopen the design discussion, if you think it d

[2017-05-23 09:09] fokusferit opened #62 "Update documentation.js"
With the release of beta19 of documentationjs they removed the buildSync functionality which is now breaking our generate task for docs. https://github.com/documentationjs/documentation/blob/master/CHANGELOG.md#400-beta19-2017-04-10

We should update to one of the rc versions and update the gulp tasks accordingly.

[2017-05-23 14:01] faboweb commented on #30
BUG: When you click on it there is an error...

[2017-05-23 19:24] #47 closed

[2017-05-23 19:25] #46 closed

[2017-05-23 19:25] #9 closed

[2017-05-29 15:42] fokusferit commented on #27
@inanda isn't your PR #57 already doing this ? If yes I guess we can close this one ?

[2017-05-30 07:46] inanda opened #67 "Tile Chart does not allow mouse events"
Tile chart does not accept mouse event functions.

- Add the possibility to call a function onMouseEnter and onMouseLeave.

- In addition, we also need to call a function by clicking to the tile and we need to know the tile identifier and the group of the tile that was clicked.

[2017-05-30 09:38] inanda opened #69 "Tile chart highlight by group on mouse over"
Currently, it's not possible to highlight the tiles by group on mouse over.
The idea is to add 'group-over' class to all the tiles of the group when the mouse is over one of the tiles of the group.

[2017-05-30 12:05] schluchter opened #70 "Date picker with limits of selectable values"

[2017-05-30 12:08] schluchter commented on #21
Implemented in Block Order @myueksel Please check there!

[2017-06-01 12:22] myueksel commented on #30
Updated of CW picker... aligned to new spacings and styles (same as the date picker).

Invision:
https://zalando.invisionapp.com/d/main/#/console/10454474/235119440/preview

![cw picker v1](https://cloud.githubusercontent.com/assets/25901307/26345702/fe129c0e-3fa3-11e7-8504-705f19fc3355.png)

[2017-06-02 10:07] jseb opened #74 "Drop down does not support disable attribute"
As a user of this component, I would like to be able to use the disable property, and have this behave in a similar way as regular html elements.

[2017-06-02 11:49] fragsalat opened #77 "Version and release setup"
As part of an working and usable styleguide we don't want to rely on branches which can change without knowing it, but on git tags / github releases which are more resilient and reliable. Therefore we need an more less automated setup which increases our package version and publishes a new release with it's changelog.
Every time a small change was merged to the master we should increase the patch

[2017-06-06 08:05] fragsalat commented on #74
This is fixed now

[2017-06-06 08:05] #74 closed

[2017-06-06 08:08] fragsalat opened #81 "Automatically generate API docs"
In order to build a good styleguide documentation page we want to automatically generate markdown files for our components API.
This should be done on every branch build  / merge to master automatically.

[2017-06-06 09:20] #77 closed

[2017-06-06 09:21] fokusferit commented on #62
Is part of #81

[2017-06-06 13:46] faboweb commented on #70
this applies also for the weekpicker

[2017-06-06 18:05] #67 closed

[2017-06-15 13:41] inanda commented on #69
This is implemented and merged. I'll close it

[2017-06-15 13:41] #69 closed

[2017-06-19 11:55] myueksel commented on #30
please check whether there are magic numbers some where in code.

[2017-06-19 12:10] fokusferit commented on #29
https://zalando.invisionapp.com/d/main#/console/10454474/227056253/preview

[2017-06-19 12:18] fokusferit opened #87 "General solution for localization of components"

[2017-06-22 11:08] fokusferit opened #88 "[bug] ws-dropdown has a weird behaviour when you search before saving selectionon multi-select"
![kapture 2017-06-22 at 12 56 54](https://user-images.githubusercontent.com/1215719/27430909-a9251c76-574a-11e7-8d43-8f5b4bdbcc33.gif)

As you can see, when you do the following a selection disappears:

- Open Multiple Dropdown Demo
- Select some options
- Do a search with one letter , e.g. "d"
-> Expected Result: See nothing as character is short or show all strings with "d" in it
-> Result: Noth

[2017-06-22 11:48] fokusferit commented on #88
Working on it.

[2017-06-29 13:04] faboweb opened #89 "Create CircleCI robot user"

[2017-07-04 13:56] wormangel opened #92 "Filterable WSDropdown with many items lacks UX clue for number of elements"
Hey all,
The filterable WSDropdown is cool because by filtering the user don't have to deal with scrolling a potentially huge list of elements, but I think it's a bit confusing for the user to actually realize that the list has more elements than <limit>.

I made a quick gif of the behavior, **the limit is default (10)** and **the list has 50 elements**.

![ghuks3rgbk](https://user-images.githubus

[2017-07-07 15:01] inanda opened #93 "WSDropdown does not set the label of the preselected value"
The following code, preselects "New" as value.
It's possible to see it by clicking on the dropdown, but it still  #shows "Select" as the label.

` <WSDropdown text="SELECT..." type="select" multiple={false} items={[
        'New',
        'Open'
      ]} value={"New"}/>`

![screen shot 2017-07-07 at 17 00 57](https://user-images.githubusercontent.com/682619/27963636-eea825ee-6335-11e7-8340-20da5cf

[2017-07-18 11:43] #93 closed

[2017-07-18 12:00] schluchter commented on #92
@myueksel Can you please look into this? Lucas has a great point about the usability of the Dropdown.

[2017-07-18 13:24] myueksel opened #96 "keep dropdown selection state"
**What happens**
The selection of dropdown items is resetted but still stored when clicking on document body.

**How to reproduce**
I don't know anymore^^

[2017-07-18 15:10] schluchter opened #98 "Dropdown pop-over configurable with max-width"
#97 introduced a sensible default for sizing the pop-over used to pick values from the dropdown.

As a further enhancement to this component's API, I would suggest the following:

- Make the component configurable by the implementer to include a max-width
- When no max-width is supplied by the implementer, default to the behavior introduced in #97
- When a max-width is supplied, set the dropdown t

[2017-07-18 20:59] fokusferit opened #100 "Replace isparte with istanbuljs 2.0"
According to [Isparte](https://github.com/douglasduteil/isparta) Readme it is not maintained anymore which means that it might result in some issue when babel-core changes so that the current isparta is not working anymore.

I checked istanbuljs and it looks like they have introduced [istanbuljs 2.0](https://github.com/istanbuljs/istanbuljs) which supports babeljs (they have a babel plugin).

[2017-07-20 15:53] inanda opened #101 "Tileschart does not update tile size on update"
When the props updates and the component serenaders, the size of the tiles has to be updated.

Currently, it does not, because we calculated the tile size only on componentWillMount.

[2017-07-21 13:39] inanda commented on #101
This issue is fixed. I'll close it.

[2017-07-21 13:39] #101 closed

[2017-07-26 11:46] faboweb opened #104 "Composition of Dropdowns"
Chris found an interesting styling bug:

![image](https://user-images.githubusercontent.com/5869273/28619458-d3886cba-7208-11e7-92a1-3263f4d114ce.png)

As there is no margin defined for dropdown-labels, the labels are so tight to the former dropdown that the dropdown-menu-arrow points to the next label.
What should we do? Pull the arrow more to the input-field or create an input-field styling for

[2017-07-26 11:47] faboweb opened #105 "Autofocus search in dropdowns"
Chris mentioned, that dropdowns with search don't focus the search on opening the dropdown.
We think, that autofocus would lead to a better user experience, as the user doesn't need to click again on the search-field.

[2017-07-26 11:48] faboweb opened #106 "Checkboxes and radios are too small in Firefox"
As show on the screenshot, checkbox and radio inputs are rendered in a tiny size in Firefox. They look fine in Chrome. Tested in FF 54 on mac.

https://wholesale-design-system.github.io/styleguide/#/atoms/forms

![image](https://user-images.githubusercontent.com/5869273/28619534-1577c0ee-7209-11e7-823c-3d0af82354fe.png)

[2017-07-26 11:48] faboweb commented on #106
originally by @szafranek

[2017-07-26 12:46] faboweb commented on #106
@fragsalat mentioned: Then just lets change [the styling for :after and :before] to the labels.

[2017-07-27 13:14] fragsalat commented on #104
Since this page is not styled properly you would have two simple solutions:
1. Make a margin bottom with $space-m on inputs
2. Make a margin top with $space-m on labels

[2017-07-27 13:14] fragsalat commented on #105
:+1:

[2017-07-27 13:15] #88 closed

[2017-07-27 13:15] #81 closed

[2017-07-27 13:16] fragsalat commented on #41
Is this still necessary? Mehmet and me checkted the styling of date and week picker.

[2017-07-27 13:29] myueksel commented on #104
Ye I saw this yesterday and commented it as well...(at least I thought so) what ever... Yes Thomas is right. This example is not properly following our rules.

At first we're using Dropdown buttons instead of text fields.
![screen shot 2017-07-26 at 14 42 22](https://user-images.githubusercontent.com/25901307/28672322-be9f750a-72df-11e7-8c9d-fd11f8c29051.png)

Nonetheless, both elements following

[2017-07-28 14:40] myueksel opened #108 "Make filter panels scrollable again"
Make filter panels with fixed vertical size scrollable that user can beside of using the free text field, scroll as well.
![screen shot 2017-07-28 at 16 40 22](https://user-images.githubusercontent.com/25901307/28722282-794b847e-73b3-11e7-83d1-9626b8611cf1.png)

[2017-07-28 14:49] myueksel opened #109 "Filter panels wider than its parent element"
Very long content of filter panels are cuttet... sometimes more than necessary. Therefore it should be possible to customise panels width on given requirements, that panels could be wider than its parent element

Bad example how it should't look:
![screen shot 2017-07-28 at 16 41 48](https://user-images.githubusercontent.com/25901307/28722622-a8d34636-73b4-11e7-80fd-c3725b77c8e6.png)

[2017-07-31 15:05] qlibin opened #110 "Dropdown deselection issue"
Well maybe the deselection feature is not something that was documented but the component is definitely trying to deselect the selected item when you click on it second time. And at that brings us to the issue...

# How to reproduce

I use Google Chrome browser (Version 59.0.3071.115) to reproduce it but I guess it should be possible to reproduce it with any other browser.

1. Go to the [demo page

[2017-08-24 10:32] fragsalat commented on #106
Done for switches but not for checkboxes and radio buttons right now

[2017-08-24 10:44] fragsalat commented on #92
Any suggestion about this from @wholesale-design-system/ux
1. We could make this scrollable with the default OS scrollbar
2. We could create a own scrollbar which uses javascript but looks everywhere the same
3. We could show no scollbar but let the user scroll
4. We could show a link with "show more" which shows the next x items

I totally would propose the 4th solution for the reason that it is

[2017-08-24 11:58] schluchter commented on #92
Thanks for the proposal, @fragsalat. I'm skeptical about the 4th solution for two reasons:

1. It is fairly unusual
2. The size of the box will grow each time I click, and at some point it becomes bigger than the screen

In order of my preferences, I would vote no. 2, then no. 1. Maybe start with 1 and see how ugly it looks?

Thanks!

[2017-08-24 12:53] fragsalat opened #114 "Spinner component"
Since there is currently no spinner component defined we should take the spinner from materializecss http://materializecss.com/preloader.html

[2017-08-24 13:04] schluchter commented on #114
Excellent. Please use scheme color 4 on a white background.

[2017-08-25 11:32] fragsalat commented on #92
@schluchter this is the worst performance wise. Just remember that we have like 7000 brands, 4500 suppliers, and some units and so on. To render all of those is not performant and no one want's to scroll those. It probably is an edge case that a user wants to see more.

To make a compromise I would suggest a combination. A link at the bottom which is about "show all" and if the user clicks it beco

[2017-08-25 12:17] wormangel commented on #92
Just bear in mind that my comment was about the filterable dropdown specifically: if the list is too big, it's OK "scroll-wise" because people would probably type in the text field anyway. The point was more like: there is no indication whatsoever that there are more than 9 elements (in my example) in the list.

The "show all" idea sounds good 👍

[2017-08-25 12:29] jseb commented on #92
Is there any way to make this menu work like an "endless scroll" to fetch more and more items as the user scrolls? And still be reasonably smooth

[2017-08-25 12:30] AdrianDampc commented on #92
For short and medium lists: I agree with @schluchter, scrolling is the most natural and expected behavior.

For longer lists: do we really need to render everything? Can't we just render ex. 50 and then automatically render more during scrolling (like auto "show more" button)?

Another thing is the question, how many people would go through the list of thousands elements instead of typing a name?

[2017-08-25 13:22] fokusferit commented on #114
Merged!

[2017-08-25 13:22] #114 closed

[2017-08-25 13:49] jseb commented on #92
Instead of "click for more" or visible scrollbar, maybe different hint for "there's more down here" could be used, for example a double downward arrow, that also possibly moves a bit.

[2017-08-25 14:04] #19 closed

[2017-08-25 14:04] #23 closed

[2017-08-29 09:16] fokusferit commented on #105
@szafranek I think you want to start on this 😄

[2017-08-29 09:17] fokusferit commented on #14
@fragsalat still up-to-date? Otherwise just close.

[2017-08-29 09:25] fokusferit commented on #20
@myueksel @fragsalat
I'm closing this for now.
- As we documented the dropdown thing
- Localization should be a dedicated topic
- if there is a need for icons, new issue / task.

[2017-08-29 09:25] #20 closed

[2017-08-29 09:27] fokusferit commented on #21
@myueksel @schluchter what is the current state here?

If it is done, please close.

[2017-08-29 09:30] myueksel commented on #21
lets close it for now... because we have to overthink the whole filtering issue... regarding to the new table design.

Thank you.

[2017-08-29 09:30] fokusferit commented on #27
Hey @inanda @jseb can someone of you just create documentation ?

Both here in the components library, e.g. API documentation via Jsdocs in the code + at the SCSS library ?

[2017-08-29 09:31] #21 closed

[2017-08-29 09:32] #14 closed

[2017-08-29 09:32] #16 closed

[2017-08-29 09:33] #17 closed

[2017-08-29 09:33] fokusferit commented on #30
I'm closing this as there was a PR which merged it.
If there are open things, please create a new Issue

[2017-08-29 09:33] #30 closed

[2017-08-29 09:35] fokusferit commented on #41
Closing it. No response anymore.

[2017-08-29 09:35] #41 closed

[2017-08-29 09:37] fokusferit commented on #62
Looks like done.
Update cycle is needed anyway so closing this specific one.

[2017-08-29 09:37] #62 closed

[2017-08-29 09:40] fokusferit commented on #96
@myueksel could you just please check this again?
I think this might be already fixed.

[2017-08-29 09:42] fokusferit commented on #98
@fragsalat still open I guess ?

[2017-08-29 09:44] #96 closed

[2017-08-29 11:58] fokusferit opened #117 "Rename Project"
As we decided to go with the name "Fabric" we need to rename all repositories.

[2017-08-29 15:08] szafranek opened #119 "Demo page doesn't work in Preact mode"
When running a demo page via `npm run start:preact` the server starts, but the [demo page](http://localhost:8080/) fails to load components due to a JavaScript error.

React mode (`npm run start`) works fine.

[2017-08-29 16:01] szafranek opened #121 "Merge conflict markers in the docs"
The file `components/doc/components/dropdown.md` was at some point [incorrectly merged](https://github.com/wholesale-design-system/components/commit/41ed0035d20f84b880862c4edb91fcccd1e763ca#diff-778a2cc64b9c17f6b6d7402aa391711a) and conflict markers were accidentally committed, breaking the documentation [page](https://wholesale-design-system.github.io/styleguide/#/components/dropdown):

![image](

[2017-08-31 11:17] fragsalat commented on #108
This seem to be a duplicate by #92

[2017-08-31 11:17] #108 closed

[2017-08-31 11:18] fragsalat commented on #92
@fabric-design/ux any news here? I would like to implement it right now

[2017-08-31 15:00] fokusferit commented on #117
Everything is now changed, CI is back to normal, so renaming done ✅

[2017-08-31 15:00] #117 closed

[2017-08-31 15:00] fokusferit commented on #109
Closing for now as a PR was merged.

[2017-08-31 15:00] #109 closed

[2017-09-05 08:59] #121 closed

[2017-09-05 09:42] szafranek opened #125 "pre-commit hook is failing"
When trying to commit a change, a pre-commit hook is failing with the message:
[code]

This seems to originate from the fact that `./node_modules/pre-commit/hook` doesn't have the executable flag set.

There are few potential solutions and workarounds:
* Manually set the executable flag on that file: `chmod 744 ./node_modules/pre-commit/hook`. It's not very elegant and will likely trip any new per

[2017-09-05 12:08] szafranek commented on #34
Is this still a problem?

I tested the demo page in FF, Chrome and Safari (all on macOS, though) and the arrows look consistent.

Cc @fragsalat

[2017-09-08 09:15] pawelkula opened #128 "add to Docs how to use Scheme Colors"
There is no info in styleguide how to use Scheme Colors.
Just please add to https://fabric-design.github.io/styleguide/#/general/2-colors something like this:

Please declare variable $schema in your index.scss or component scss file like:

$schema: 'grey-blue';

[2017-09-08 09:19] szafranek opened #129 "Text is cut off in dropdown's input field"
Descenders in the dropdown input field are cut off, as shown on the screenshot (`p` is cut off):

![image](https://user-images.githubusercontent.com/152606/30204921-7ae9f334-9487-11e7-9330-8d6231dd10d7.png)

[2017-09-11 08:10] #119 closed

[2017-09-11 08:10] #105 closed

[2017-09-14 15:28] AdrianDampc opened #131 "Define documentation for dropdowns (rules when and how to use it)"

[2017-10-09 14:10] fragsalat commented on #98
Ah sry it's closed already by #123

[2017-10-09 14:10] #98 closed

[2017-10-09 14:11] #125 closed

[2017-10-09 14:12] fragsalat commented on #34
I exchanged the arrow icons before some months with our icon font. So this is consistent now.

[2017-10-09 14:12] #34 closed

[2017-10-10 19:47] fragsalat commented on #92
No ux decision taken yet.
I suggested multiple possibilities.

[2017-10-11 09:49] wormangel commented on #92
My 'everyday internet apps user' persepctive: if there are more elements, there should defnitely be a visual cue (like the arrow suggested by @jseb). But then if there's a visual cue saying that the list is longer than what I see, I do expect it to be scrollable. Regardless if the loading is on-demand (better) or loading everything when the list renders (noooo), I would try to scroll it definitely

[2017-10-16 06:47] AdrianDampc opened #135 ""Select all" option in multi-dropdown"

[2017-10-18 11:53] AdrianDampc opened #137 "New input pattern (underlined)"

[2017-10-20 15:33] fokusferit opened #139 "Make Changelog visible"
Add reference to release number and Changelog.md into the README

[2017-11-01 09:21] AdrianDampc commented on #135
![select2](https://user-images.githubusercontent.com/26090170/32268212-5fbe0186-beee-11e7-8d9f-2f7dbe81ef8f.png)
![select1](https://user-images.githubusercontent.com/26090170/32268214-5fdf4030-beee-11e7-8d70-8686f844fc56.png)

[2017-11-03 08:28] #139 closed

[2017-11-03 08:31] fragsalat commented on #135
This is can not work with multi select dropdowns because the selected items will appear on top of the dropdown. I would suggest do don't put every small feature in this already pretty complex component but find a different solution. A possibility could be a combination with a radio group and a dropdown.
Or a checkbox where I can select all items.

[2017-11-03 08:44] fragsalat commented on #135
Like this
![dropdown-all](https://user-images.githubusercontent.com/1099747/32365774-8d03bddc-c07b-11e7-839e-65e945ac2684.png)

[2017-11-03 08:46] #106 closed

[2017-11-03 08:46] fragsalat commented on #106
Done already

[2017-11-06 14:14] fokusferit commented on #104
@myueksel @fragsalat do you think this one i still valid ?

THe bug was related to a Prototype we developed but maybe we just close it and think again once we hit such issue again ?

[2017-11-07 08:25] myueksel commented on #104
@fokusferit yes this was related to the prototype, so we can close this issue.
thanks!

[2017-11-07 08:48] #104 closed

[2017-12-12 17:53] antnascimento opened #151 "fix wstabmenurender"
OnChange listener of the wstabmenu does not work after component re-render

[2018-03-08 16:58] qlibin commented on #110
wow... that's old :)

[2018-03-08 17:09] fragsalat commented on #110
Seem to be no issue anymore. I think it can be closed.

[2018-03-08 17:09] #110 closed

[2018-03-13 13:58] fokusferit opened #157 "Decouple Date-Picker from Input element"
Currently, when someone wants to use the date picker, it is not possible to just use the flatpickr + styling as one single component.

For our current application, we don't need an input element rather the calendar picker standalone.

So we need to decouple or provide just date-picker.

[2018-04-28 09:16] ePaul commented on #70
Not sure if this is still open – the [documentation](https://fabric-design.github.io/styleguide/#/components/04-date-pickers) gives an example about a date picker with min/max values, but that example (in the documentation itself) doesn't work as advertised.

[2018-05-14 14:13] mousemke opened #162 "confusing header docs"
the docs for the header show 2 different usages for the ids (and likely only one is correct)

<img width="653" alt="screen shot 2018-05-14 at 16 12 59" src="https://user-images.githubusercontent.com/1480168/40002697-bfe02580-5791-11e8-8899-14a952259532.png">

<img width="712" alt="screen shot 2018-05-14 at 16 13 08" src="https://user-images.githubusercontent.com/1480168/40002704-c4c4dd34-5791-11e8

[2018-05-14 14:15] mousemke commented on #162
(live url https://fabric-design.github.io/styleguide/#/components/01-header)

[2018-05-15 08:51] anstit opened #163 "Use setState in WSDropDown"
I am getting this Warning in my Browser each time the page is loaded for the first time.

[2018-05-18 11:16] mousemke opened #166 "chore(cleanup) Dist and Doc folder are committed"
this comes from discussions about not committing updated dist files since they're generated. and not removing them fore the sake of a very dirty diff. if we do this in one place, we can keep the dirty diff all in one place

DoD:
+ remove dist and doc directories
+ add them to .gitignore

[2018-05-18 11:20] mousemke opened #167 "feat(header) allow custom link elements"
the header links are great and straight forward as an array of objects, but sometimes (in my case the Link component from `react-router`) you need a custom components to correctly route in the app. Since this needs to be flexible to support any framework use case, it should directly pass the element instead of any sort of flag.

[2018-05-18 11:24] mousemke opened #168 "build(node) update node versions"
the build fails right now due to the node version and the use of the spread operator. The solution seems to be update the node version, but additionally we can use Object.assign instead of spread for further compatibility

[2018-05-18 13:36] #167 closed

[2018-05-18 13:36] #168 closed

[2018-05-21 12:25] mousemke commented on #163
(closed but i cant close the issue myself)

[2018-05-23 08:39] #163 closed

[2018-05-23 08:42] mousemke opened #171 "feat(dropdown): pass custom classname"
in order to affect the styling without just trying to out specify the elements, we should be able to pass a custom class to the dropdown

DoD
-----

+ passing the className prop through the dropdown gives it that class

[2018-05-25 07:10] #171 closed

[2018-05-25 07:13] mousemke opened #174 "bug(dropdown) state is lost in dropdown item"
after adjusting the "set directly to state" issue #163, we now lose the state.  as it turns out, the state had a reference to the parents object (passed as `this.props.item`) and keeping the reference to that may have been why the state was set in suck a non standard way.

DoD:
items should keep their selected state

[2018-06-12 11:07] fokusferit commented on #162
Thx!, Yes, Payback also realized that docs are quite out of sync to the code currently.

[2018-06-14 09:31] mousemke opened #175 "bug(header) logout "button" has no focus state"
the logout should have a focus state so you can see what is selected while tabbing through
the logout link should be a button

additional weirdness found:

the background hover color is on the li,
the text hover color is on the anchor

<img width="571" alt="screen shot 2018-06-14 at 11 27 26" src="https://user-images.githubusercontent.com/1480168/41403876-3b365c62-6fc6-11e8-9fc0-ece477ea8cc5.png">

[2018-06-14 09:37] mousemke opened #176 "bug(dropdown) not accessible"
you cannot tab to any part of the dropdown
it should be able to be opened with enter and closed with enter (from the original spot) or possibly with escape from within the dropdown
the dropdown should be built around a native select box for device compatability

it should get css to represent these states, however that is second to actually being able to attain these states

[2018-06-20 15:54] mousemke opened #179 "bug(date-picker) icon removes clickability"
you cant click through the icon, so if you happen to hover over it you lose both the pointer and the ability to open the cal. view.

solution:
pointer events none on the icon

[2018-06-21 11:40] #179 closed

[2018-06-21 12:03] mousemke opened #181 "bug(header) inconsistent and absent focus and hover states"
most of the links in the header have no focus or hover state or they are oddly inconsistent.

example:

## application name
normal
<img width="186" alt="screen shot 2018-06-21 at 13 52 11" src="https://user-images.githubusercontent.com/1480168/41717558-6a7ddc9a-755a-11e8-9081-393567a32751.png">

hover
<img width="202" alt="screen shot 2018-06-21 at 13 52 28" src="https://user-images.githubusercont

[2018-06-22 10:54] fragsalat commented on #176
You can navigate with arrow keys within the dropdown to select items. With enter you can submit. With escape you can close the dropdown. The trigger is missing keyboard events. As far as the dropdown can be managed by keyboard I would not build it on top of native selects.

[2018-06-22 10:56] fragsalat commented on #181
The last screenshot is probably only on your application. In my applications when I hover a menu item it's background color fade to a darker one and the foreground stays the same.

[2018-06-25 14:35] fragsalat commented on #174
Will be fixed with https://github.com/fabric-design/components/pull/177

[2018-06-25 14:48] #151 closed

[2018-06-25 14:48] fragsalat commented on #137
Fixed by https://github.com/fabric-design/scss/pull/105

[2018-06-25 14:48] #137 closed

[2018-06-25 14:49] #135 closed

[2018-06-25 14:49] fragsalat commented on #129
Was fixed here https://github.com/fabric-design/scss/pull/105

[2018-06-25 14:49] #129 closed

[2018-06-25 14:51] fragsalat commented on #31
It's done https://github.com/fabric-design/components/wiki/How-to-integrate-component-into-your-build-system

[2018-06-25 14:51] #31 closed

[2018-06-25 14:52] fragsalat commented on #37
It was fixed already but Jason found a even better solution by using pointer-events: none

[2018-06-25 14:52] #37 closed

[2018-06-28 11:30] anstit opened #185 "Open Header-Links in new Tab"
Right now, each link that is opened in the current window.
I have some Links in the Subheaders that I would like to open in a new tab. It would be great if the WSHeader-Componenthad a prop to specify that.

[2018-07-04 08:09] tonysaad opened #186 "bug (header) It doesn't work on IE11; Add polyfill for CustomEvent to support IE11"
As we started using some tools for external users ex. Suppliers, it usually comes with the price of supporting browsers we don't even use and that's the old monster IE, ex. IE11
Now if you open any of our tools that use Fabric Header it will be a white page, not rendering anything because there's an error in IE11 support of Custom Event so we need a polyfill which is pretty straightforward or as C

[2018-07-05 07:11] fragsalat commented on #185
+1 Adding a target option to a link  object would be possible. Feel free to create a PR.

[2018-07-12 07:17] fragsalat commented on #186
I would rather initialize the custom event in a proper way than adding a polyfill just because it's used from one abstract class.
Kind of
[code]

I would say this might work even in IE9. At least initCustomEvent exists till this version. document.createEvent I'm not sure. There is no real data in caniuse.com nor in mdn.

[2018-07-12 07:20] mroderick commented on #186
If you want to support legacy IE (it's all legacy), you'll have to use `var` instead of `let/const`.

[2018-07-12 14:06] tonysaad commented on #186
@fragsalat I agree with you

[2018-08-28 16:26] tonysaad commented on #186
Just got a feedback from Arindam that few suppliers aren't using our tools because it's not working on IE at all, I think we should ship this polyfill
any objections from you ? @fragsalat @mroderick @szafranek @fokusferit

[2018-08-28 16:46] szafranek commented on #186
With transpiling to ES5 and polyfills for ancient browsers we punish everyone who uses modern browsers.

So it's a question of whether we'd like to either:
1. offer better user experience to the vast majority of users, and reduced testing and development cost on our side (I mention this, because using a transpiler is not the same as ensuring that everything works in IE11 – proper testing is still

[2018-08-28 17:09] fragsalat commented on #186
First of all about which version of ie we're talking here?
I think 10 is possible to support without a lot of tweaks. If you're able to get these number we can investigate for 1 hour if it's possible to fix it and if not we have to talk about proper solutions.
One option could be to build different versions for different browsers. This could mean that we transpile to es5 + polyfill for ie and othe

[2018-08-29 06:47] mroderick commented on #186
As for transpiling or not, we can support both legacy and modern browsers fairly simply by offering two versions of JavaScript: one for modern browsers, that understand ESM and an ES5.1 version for browsers that don't.

[code]

See https://jakearchibald.com/2017/es-modules-in-browsers/

[2018-08-29 09:13] fokusferit commented on #186
First thing to mention is:

- In Retail Portal we don‘t use fabric header, it‘s for now vanilla JS
- in the future most apps will live there -> most of the current logic can be removed or many apps just won‘t have a header anymore

So let‘s rethink effort vs. outcome/benefits here.

So this topic might be more important for Alpha and Portal header then here.

Besides that, I‘d like to understand m

[2018-08-30 16:18] tonysaad commented on #186
Thank you all for your thoughts, just wanted to highlight that Right now ANY application that would use our Fabric Header won't work on IE 11 or less actually, it will be a white page with an error in the console (only works on Edge though)

I know we never cared about IE, and it'd require testing to make sure applications are working but having white page is just the worse thing we can do at leas

[2018-09-06 09:10] anstit opened #200 "(Question) Focus on Input in Dropdown with filterable"
Hi,

I am using a Dropdown-Menu with the filtering option and I was wondering if it's possible to somehow focus on the Input-Field as soon as I have clicked to open the dropdown.

![2018-09-06](https://user-images.githubusercontent.com/38692540/45147053-615d2200-b1c4-11e8-8a79-b9deadb86feb.png)

Right now, after clicking "Applications" a second click is needed into the Input-Field before the user

[2018-09-06 09:30] fokusferit commented on #200
EDIT: @anstit I talked with our UX people and it is by design.

The idea is that there is a big change that people don't search but already see their item to select, a focus might confuse or distract.

[2018-09-10 07:25] anstit commented on #200
Ok, thanks for checking that out!

[2018-09-18 21:15] fragsalat commented on #200
@anstit you should use ws-multi-select.  Feel free to reach out to me on hangouts for questions.

https://fabric-design.github.io/styleguide/#/components/11-multi-select

![multi-select](https://user-images.githubusercontent.com/1099747/45716931-b02d9300-bb98-11e8-8544-cfad9a659d72.PNG)
![multi-select-open](https://user-images.githubusercontent.com/1099747/45716932-b02d9300-bb98-11e8-8295-573b35d9